body {
    font-family: "Comic Sans MS", "Comic Relief", cursive;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex: 1;

    margin: 0;
    padding: 0;
}

/* main {
    padding-left: 40vh;
    padding-right: 40vh;
} */

a {
    text-decoration: none;
    color: lightcoral;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#header,
#footer {
    background-color: greenyellow;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    padding: 1vh;
}

#header .logo {
    font-size: 25px;
    font-weight: bold;
    padding-left: 400px;
    color: lightcoral;
}

.menu {
    display: flex;
    gap: 3vh;
    padding-right: 400px;

}

#block1 {
    background-image: linear-gradient(rgb(216, 1, 216), blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 20px;
}

#block1 .block1-text {
    max-width: 600px;
    color: white;
}

#block1 .title1 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}

#block1 img {
    max-height: 250px;
    max-width: 500px;
        object-fit: cover;
}

.signup {
    background-color: lightskyblue;
    color: white;
    width: 100px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
}

.signup.top {
    margin-top: 20px;
    border: none;
}

.signup.bottom {
    border-color: white;
    border-style: double;
}

#block2 {
    display: flex;
    justify-content: center;
    align-items: centre;
    flex: wrap;
    flex-direction: column;
    margin: 100px;
}

#block2 .title2 {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 75px;
}

#block2 .cards {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 50px;

}

#block2 .card {
    display: flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: column;
}

#block2 .text {
    text-align: center;
    margin: 20px;
    max-width: 175px;
}

#block2 img {
    max-width: 175px;
    max-height: 175px;
    border-radius: 20px;
}

#block3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightcoral;
    padding: 100px;
}

#block3 .quote {
    font-size: 25px;
    max-width: 700px;
    font-style: italic;
    text-align: center;
}

#block4 {
    display: flex;
    justify-content: center;
}

#block4 .modal {
    background-color: aqua;
    min-width: auto;
    padding: 50px;
    margin: 100px;
    display: flex;
    gap: 100px;
    border-radius: 25px;
}

#block4 .modal .title3 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}